<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Tomcat Monitor Plugin</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <hudson.plugins.sitemonitor.SiteMonitorRecorder plugin="sitemonitor@0.6">
      <mSites>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://tomcat:8080/jobs/Devops-Project-Login-JSP/workspace/RegisterFirst.jsp</mUrl>
          <successResponseCodes>
            <int>200</int>
          </successResponseCodes>
          <admitInsecureSslCerts>false</admitInsecureSslCerts>
        </hudson.plugins.sitemonitor.model.Site>
      </mSites>
    </hudson.plugins.sitemonitor.SiteMonitorRecorder>
  </publishers>
  <buildWrappers/>
</project>